@keyframes move {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(30px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}

@keyframes moveThreePoints {
  0% {
    animation-timing-function: ease-in;
    transform: translateX(0vw) translateY(0vh) rotate(0deg);
  }
  33% {
    animation-timing-function: ease-out;
    transform: translateX(10vw) translateY(10vh) rotate(120deg);
  } /* déplace l'image de 100px à droite */
  66% {
    animation-timing-function: linear;
    transform: translateX(0vw) translateY(10vh) rotate(240deg);
  } /* déplace l'image de 100px vers le bas */
  100% {
    transform: translateX(0vw) translateY(0vh) rotate(360deg);
  } /* déplace l'image de 100px à gauche */
}

@keyframes moveThreePointsReverse {
  0% {
    animation-timing-function: ease-in;
    transform: translateX(0vw) translateY(0vh) rotate(0deg);
  }
  33% {
    animation-timing-function: ease-out;
    transform: translateX(-10vw) translateY(-10vh) rotate(120deg);
  } /* déplace l'image de 100px à droite */
  66% {
    animation-timing-function: linear;
    transform: translateX(0vw) translateY(-10vh) rotate(240deg);
  } /* déplace l'image de 100px vers le bas */
  100% {
    transform: translateX(0vw) translateY(0vh) rotate(360deg);
  } /* déplace l'image de 100px à gauche */
}

@keyframes moveThreePointsCross {
  0% {
    animation-timing-function: ease-in;
    transform: translateX(0vw) translateY(0) rotate(0deg);
  }
  33% {
    animation-timing-function: ease-out;
    transform: translateX(-10vw) translateY(10vh) rotate(120deg);
  } /* déplace l'image de 100px à droite */
  66% {
    animation-timing-function: linear;
    transform: translateX(0vw) translateY(10vh) rotate(240deg);
  } /* déplace l'image de 100px vers le bas */
  100% {
    transform: translateX(0vw) translateY(0vh) rotate(360deg);
  } /* déplace l'image de 100px à gauche */
}

@keyframes moveThreePointsCrossReverse {
  0% {
    animation-timing-function: ease-in;
    transform: translateX(0vw) translateY(0) rotate(0deg);
  }
  33% {
    animation-timing-function: ease-out;
    transform: translateX(10vw) translateY(-10vh) rotate(120deg);
  } /* déplace l'image de 100px à droite */
  66% {
    animation-timing-function: linear;
    transform: translateX(10vw) translateY(0vh) rotate(240deg);
  } /* déplace l'image de 100px vers le bas */
  100% {
    transform: translateX(0vw) translateY(0vh) rotate(360deg);
  } /* déplace l'image de 100px à gauche */
}

.moveThreePoints {
  animation: moveThreePoints 5s infinite;
}

.moveThreePointsDelay {
  animation: moveThreePoints 5s infinite 0.5s;
}

.moveThreePointsReverse {
  animation: moveThreePointsReverse 5s infinite;
}

.moveThreePointsCross {
  animation: moveThreePointsCross 5s infinite 1s;
}

.moveThreePointsCrossReverse {
  animation: moveThreePointsCrossReverse 5s infinite 1s;
}

.bounce {
  animation: bounce 2s infinite;
}

.animate-image {
  animation: move 2s infinite;
}

.animate-image-delay {
  animation: move 2s infinite 1s; /* 1s delay */
}
