.card:hover::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border: 2px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(to right, #b5cd30, transparent);
  z-index: 10;
  pointer-events: none;
}

@keyframes zoom {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes zoom-paused {
  0%,
  100% {
    transform: scale(1.2);
  }
}

.zoom-animation {
  animation: zoom 50s infinite;
}

.pause-animation {
  animation-play-state: paused;
}
